@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.project {
  margin: 0 0 110px 0;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 1000px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-size: var(--f-size-h2);
    color: var(--c-purple);
    margin: 0 0 50px 0;
  }

  &__card {
    border-radius: var(--border-radius-20);
    background-color: var(--c-jaguar-dark);
    border: none;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px -3px var(--c-white);
    color: var(--c-white);
    opacity: 0;
    transition: transform var(--transition-200),
      box-shadow var(--transition-200),
      background-color var(--transition-200) $delay-02,
      opacity 0.6s linear;
      
      &:hover,
      &:focus-visible {
        transform: scale(1.02);
        box-shadow: 0 0 10px 5px var(--c-white-50);
      }
      
      &.visible {
        opacity: 1;
      }

      &--disabled {
        pointer-events: none;
      }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      gap: 10px;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      background-color: var(--c-jaguar-dark);
      transition: opacity var(--transition-200) $delay-02,
        background-color var(--transition-200) $delay-02;
      transform: translate(-50%, -50%);
      z-index: 10;

      @include vp-767 {
        display: none;

        &--disable {
          display: flex;
        }
      }

      &-title {
        font-size: var(--f-size-h3);
        margin: 0;
        color: var(--c-purple);
      }

      &-date {
        font-size: var(--f-size-16);
        font-weight: var(--fw-medium);
        border: 1px solid var(--c-purple);
        padding: 5px 10px;
        border-radius: var(--border-radius-20);
        transition: color var(--transition-200) $delay-02;
      }
    }

    //* picture
    &-picture {
      max-width: 500px;
      width: 100%;

      @media (max-width: 1000px) {
        max-width: none;
      }

      &-img {
        height: 100%;
        border-radius: var(--border-radius-20);
        transition: max-width var(--transition-200);

        @media (max-width: 1000px) {
          width: 100%;
          height: 165px;
        }

        @include vp-767 {
          height: 100%;
        }
      }
    }

    //* inner
    &-inner {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100%;

      &-title {
        font-size: var(--f-size-24);
        text-align: left;
      }
    }

    //* text
    &-text {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &-desc {
        font-size: var(--f-size-20);

        @include vp-767 {
          font-size: var(--f-size-16);
        }
      }

      &-technologies {
        font-size: var(--f-size-16);

        @include vp-767 {
          font-size: var(--f-size-14);
        }
      }
    }

    // technologies
    &-technologies {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: auto;

      &-img {
        padding: 15px;
        position: relative;
        z-index: 5;
        cursor: pointer;

        @include vp-767 {
          padding: 10px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          transition: box-shadow var(--transition-200);
        }

        &:hover::after {
          box-shadow: 0 0 15px 15px var(--c-purple);
        }
      }
    }

    .ant-card {
      &-body {
        display: grid;
        grid-template-columns: minmax(300px, 452px) 1fr;
        align-items: center;
        padding: 30px;
        gap: 30px;

        @media (max-width: 1000px) {
          grid-template-columns: 1fr;
          height: 100%;
        }

        &:hover .project-hidden {
          opacity: 0;
          pointer-events: none;
        }

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}
