@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about-sect {
  margin: 0 0 110px 0;
}

.about {
  &__title {
    font-size: var(--f-size-h2);
    line-height: 44px;
    color: var(--c-purple);
    margin: 0 0 50px 0;
    transform: translateY(-20px);
    transition:
      opacity 0.6s linear,
      transform 0.6s linear;
    opacity: 0;

    @include vp-767 {
      font-size: var(--f-size-h2-mobile);
    }

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__card {
    &-inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @include vp-1023 {
        grid-template-columns: 1fr;
      }
    }

    &-card {
      border: none;
      background-color: var(--c-jaguar-dark);
      padding: 20px 18px 20px 18px;
      box-shadow: 0 0 10px -3px var(--c-white);
      border-radius: var(--border-radius-20);
      height: 100%;
      background-color: var(--c-jaguar-dark);
      transition:
        transform var(--transition-200) $delay-02,
        box-shadow var(--transition-200) $delay-02,
        background-color var(--transition-200) $delay-02;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px 5px var(--c-white-50);
      }

      &.visible {
        opacity: 1;
      }

      &-body {
        padding: var(--padding-0);
      }
    }

    &-timeline-desc {
      color: var(--c-white);
      font-size: var(--f-size-24);
      position: relative;
      transition: color var(--transition-200);
      border-radius: 20px;

      @include vp-767 {
        font-size: var(--f-size-20);
      }

      &:hover {
        color: var(--c-purple);
      }

      &::before {
        content: "";
        position: absolute;
        top: 55%;
        left: 45%;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-20);
        transform: translate(-50%, -50%);
        transition:
          transform var(--transition-200),
          box-shadow var(--transition-200);
      }

      &:hover::before {
        border-color: var(--c-purple);
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px -2px var(--c-purple);
      }
    }

    .ant {
      &-timeline {
        &-item {
          padding: 0 0 22px 0;
          opacity: 0;
          transition: opacity 0.6s linear 0.4s;

          &.visible {
            opacity: 1;
          }
          &-last {
            padding: 0;
          }

          &-tail,
          &-head {
            background-color: var(--c-purple);
          }

          &-head {
            border: none;
          }
        }
      }
    }
  }
}
